<!DOCTYPE html>
<html lang="en" dir="ltr">
<body style="background-color:powderblue;">
  <head>
    <meta charset="utf-8">
    <title>Phuong Flask Server</title>
  </head>
  <body> 

    <h1 style="font-size:150%;color:green;text-align:center">A brief conclusion</h1>
    
    <p style="font-size:120%;color:blue;">My solution might not be a perfect one. However, to what extent, it can show the following messages. </p>
       <ol style="font-size:120%;color:blue;">
        <li> First, how I approach such a problem.</li>
        <li > Second, my strong programming skills and tools, such as Python, Flask, HTML, etc, I can use. For example, I can create a log-in page with the user and password before the user can upload a file to her/his server. However, for simplicity, in this project, I skip it.</li>
        <li> Last but not least, my potential contributions to your company.</li>
        </ol> 
    <p style="font-size:120%;color:blue;">Thank you so much indeed for considering and evaluating my Flask server.</p>
<p style="font-size:120%;color:blue;">I am looking forward to hearing a positive reply from you soon.</p>

    {% extends "template.html" %}
    {% block content %}
    {% endblock %}  

   </body>
</html>